.FBBK-lockBlock {
    position: relative;
    padding: 12px 35px 14px 18px; /* This makes FBBK look like a storyContent */
}

/*
 * about invisible-toggle-button UI
 */
.FBBK-invisible {
    position: relative;
    background: #EEE;
}

.FBBK-lockUI {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 12px 18px 0px 0px;
    /* Magic Predefined messages */
    background-image: url('chrome-extension://__MSG_@@extension_id__/public/images/famfamfam/lock.png')
}

.FBBK-lockUI:hover {
    cursor: pointer;
}

.FBBK-lockOpenUI {
    right: 2px;
    /* Magic Predefined messages */
    background-image: url('chrome-extension://__MSG_@@extension_id__/public/images/famfamfam/lock_open.png')
}

.FBBK-lockTips {
    display: inline-block;
    font-family: 微軟正黑體, Verdana;
}
