body {
    background: #EEEEEE; 
    text-align: center;
    font-family: Verdana, Arial;
}

form {
    border: 3px solid black;
    border-radius: 5px;
}

form div {
    margin: 5px;
    border-bottom: 1px solid black;
    text-align: left;
}

form div.option-body {
    border: 0;
}

form div.option-footer {
    border: 0;
    text-align: right;
}

#header {
    margin: 5px;
    font-size: 24px;
}

#header p {
    margin:0px;
    margin-bottom: 20px;
}

#wrapper {
    display: inline-block;
    width: 30%;
}

#special-thanks {
    position: absolute;
    bottom: 0;
    right: 1em;
    font-size: 16px;
}

label {
    display: block;
    cursor: pointer;
    padding-left: 34px;
    line-height: 20px;
    padding-bottom: 9px;
}

label:hover {
    color: blue;
}

label input { 
    position: absolute;
    left: -9999px;
    margin-right: 5px;
}

.checkbox-on {
    background: url(../images/check-on.png) no-repeat; 
}

.checkbox-off {
    background: url(../images/check-off.png) no-repeat; 
}

.radio-on {
    background: url(../images/radio-on.png) no-repeat; 
}

.radio-off {
    background: url(../images/radio-off.png) no-repeat; 
}

/* Fancy checkboxes */

/*.label_check, .label_radio { 
    padding-left: 34px; 
}

.label_radio { 
    background: url(radio-off.png) no-repeat; 
}

.label_check { 
    background: url(check-off.png) no-repeat; 
}

label.c_on { 
    background: url(check-on.png) no-repeat; 
}

label.r_on { 
    background: url(radio-on.png) no-repeat; 
}

.label_check input, .label_radio input { 
    position: absolute; left: -9999px; 
}
*/
